<table id="translationLogsTable" class="display">
    <thead>
        <tr>
            <th>Original Text</th>
            <th>Translated Text</th>
            <th>Mode</th>
            <th>Date</th>
        </tr>
    </thead>
</table>